body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: azure;
}

.container {
    width: 80%;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

header {
    background-color: #35434a;
    color: #fff;
    padding: 30px;
    min-height: 70px;
    padding-right: 0;
    border-bottom: #ffc600 3px solid;
}

a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

li {
    display: inline;
    padding: 0 20px;
}

#branding {
    float: left;
    width: 100%;
}

nav {
    float: right;
    margin-left: -400px;
    padding-top: 45px;
}

h1 {
    padding-top: 10px;
    padding-left: 112px;
}

.highlight {
    color: #ffc600;
    font-weight: bold;
    text-decoration: underline white solid;
    letter-spacing: 0.2em;
}

a:hover {
    color: chartreuse;
}

a:active {
    color: #ffc600;
}

.containertwo {
    width: 80%;
    margin: 0;
    padding-left: 92px;
}

#showcase {
    text-align: center;
    background-image: url(/showcase.jpg);
    min-height: 400px;
    color: #fff;
    padding-top: 1px;
    background-repeat: no-repeat;
    background-position: 0 -500px;
}

#showcase h1 {
    font-size: 50px;
}

#showcase p {
    font-size: 20px;
}

#boxes {
    margin-top: 20px;
    margin-right: -7px;
}

.box {
    float: right;
    text-align: center;
    width: 122px;
    padding: 10px;
    padding-right: 113px;
    padding-bottom: 100px;
    padding-left: 57px;
}

.box img {
    width: 90px;
    margin-right: -58px;
}

.box h3 {
    margin-right: -60px;
}

.box p {
    margin-right: -97px;
}

footer {
    padding: 20px;
    background-color: #ffc600;
    margin-top: 20px;
    color: #fff;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 20px;
}

#main_col {
    float: left;
    width: 65%;
}

#sidebar {
    float: right;
    width: 30%;
}

.dark {
    padding: 15px;
    background: #35434a;
    color: #fff;
    margin-top: 30px;
    border-radius: 10px;
    border: #ffc600 solid;
}

article p {
    margin-left: 110px;
}

#sidebarone {
    float: right;
    width: 30%;
}

#main_clone {
    float: left;
    width: 65%;
    margin-bottom: 100px;
}

.darkone {
    padding: 15px;
    background: #35434a;
    color: #fff;
    margin-top: 30px;
    border-radius: 10px;
    border: #ffc600 solid;
}

article h4 {
    margin-left: 110px;
}

.pagetitle {
    margin-left: 110px;
    border: 2px lightgrey solid;
}

.bgin input:hover {
    background-color: #ffc600;
    color: blue;
    cursor: pointer;
}

@media (max-width:790px) {
    #branding {
        margin-top: -45px;
    }
    nav {
        margin-top: 24px;
    }
    .containertwo {
        padding-left: 0;
    }
    #main_col {
        float: none;
        width: 100vw;
        padding-left: 0;
        margin-left: -57px;
        text-align: center;
    }
    #sidebar {
        float: none;
        width: 80%;
        padding-left: 35px;
        margin-left: 25px;
        width: 92%;
        margin-bottom: 110px;
    }
    #main_clone {
        float: none;
        width: 100vw;
        padding-left: 0;
        margin-left: -57px;
        text-align: center;
    }
    #sidebarone {
        float: none;
        width: 80%;
        padding-left: 35px;
        margin-left: 25px;
        width: 92%;
        margin-top: -72px;
        margin-bottom: 110px;
    }
}